.scrollable-list {
    max-height: 200px;
    /* 你可以根据需要调整这个值 */
    overflow-y: auto;
    /* 当内容超出容器时，显示垂直滚动条 */
    padding: 10px;
}

.list-item {
    padding: 5px 0;
}

.tooltip {
    position: absolute;
    background-color: #03030379;
    color: white;
    padding: 10px 14px;
    border-radius: 10px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

button {
    cursor: pointer;
}

.selectbox {
    cursor: pointer;
    width: 100px;
    border: 2px solid white
}

.notselectbox {
    cursor: pointer;
    width: 100px;
    border: 2px solid #00000000
}

.choosebuildpanel {
    position: absolute;
    bottom: 5%;
    left: 33%;
    color: white;
    width: 430px;
    height: 270px;
    line-height: 1px;
    background-color: #03030379;
    padding: 10px;
    border-radius: 15px;
    padding-top: 1px;
}

.buildinfo {
    border: 2px solid white;
    margin-top: 20px;
    width: 310px;
    height: 110px;
    border-radius: 10px;
}

.buildneedbox{
    margin-left: 8px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
    height: 30px;
    border-radius: 6px;
}

.buildneedenough{
    border: 1px solid yellow;
    color: yellow;
}

.buildnotenough{
    border: 1px solid red;
    color: red;
}