.scrollable-list {
  max-height: 200px;
  /* 你可以根据需要调整这个值 */
  overflow-y: auto;
  /* 当内容超出容器时，显示垂直滚动条 */
  padding: 10px;
}

.list-item {
  padding: 5px 0;
}

.tooltip {
  position: absolute;
  background-color: #03030379;
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.selectbox {
  cursor: pointer;
  width: 100px;
  border: 2px solid white;
}

.notselectbox {
  cursor: pointer;
  width: 100px;
  border: 2px solid #00000000;
}

.startbuildpanel{
  position: absolute;
  bottom: 45%;
  left: 40%;
  color: white;
  width: 230px;
  height: 100px;
  background-color: #03030379;
  padding: 10px;
  border-radius: 15px;
  padding-top: 1px;
}

.choosebuildpanel {
  position: absolute;
  bottom: 5%;
  left: 33%;
  color: white;
  width: 430px;
  height: 290px;
  background-color: #03030379;
  padding: 10px;
  border-radius: 15px;
  padding-top: 1px;
}

.buildinfo {
  border: 2px solid white;
  margin-top: 10px;
  width: 310px;
  height: 140px;
  border-radius: 10px;
}

.buildneedbox {
  margin-left: 8px;
  text-align: center;
  vertical-align: middle;
  width: 90px;
  height: 25px;
  border-radius: 6px;
}

.buildneedenough {
  border: 1px solid yellow;
  color: yellow;
}

.buildnotenough {
  border: 1px solid red;
  color: red;
}

@font-face {
  font-family: "fusion-pixel-12px-proportional-zh_hans";
  src: url("../public/assets/fonts/fusion.woff2") format("truetype");
}

html, body, div {
  font-family: "fusion-pixel-12px-proportional-zh_hans", sans-serif;
}

button, select, input {
  font-family: inherit;
}

.build_icon{
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-bottom:10px; 
}

.build_icon_select{
  background-color: rgba(100, 0, 250, 1);
}

/* Nes css style */
.nes-btn {
  padding: 4px 6px;
}

.nes-select {
  font-size: 12px;
}

/* Custom */
.small_fontsize {
  font-size: 8px;
}